#!/usr/bin/env bash

set -eo pipefail
shopt -s inherit_errexit

watch_file .venv/bin/activate
if [ -f ".venv/bin/activate" ]; then
    source .venv/bin/activate

    mkdir -p "$VIRTUAL_ENV/pycache"
    export PYTHONPYCACHEPREFIX="$VIRTUAL_ENV/pycache"
else
    export PYTHONDONTWRITEBYTECODE=1
fi

